WONDERMINT_API_KEY=
WONDERMINT_EMAIL=
WONDERMINT_PASSWORD=
WONDERMINT_BASE_URL=https://api.wondermint.now
WONDERMINT_FRONTEND_URL=https://minti-release.fullstock.ai
WONDERMINT_PRODUCTION_FRONTEND_URL=https://wondermint.now
